/* BookList.css */

.book-list {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.book-list-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.book-list-item:hover {
    background-color: #eaeaea;
}

.book-title {
    font-weight: bold;
}

.book-author {
    font-style: italic;
    color: #666;
}
