.main-content {
    display: flex;
}

.left-content {
    flex: 2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-content {
    flex: 1;
    padding: 16px;
    /*border-left: 1px solid #ccc;*/
    height: 80vh;
    overflow-y: auto;
}

.book-operations {
    display: flex;
    flex-direction: column;
}

.operations-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    justify-content: center;

}

.operations-buttons > .MuiButton-root {
    margin-bottom: 8px;

}
