.book-container {
    display: flex;
    flex-direction: column;
    background-color: #46dc05;
    padding: 16px;
    border-radius: 8px;
}

.book-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
}

.book-author {
    font-size: 14px;
    color: #888;
}
.book-main-data,
.book-secondary-data {
    margin-bottom: 8px;
}
.divider {
    border: 1px solid #555;
    margin: 16px 0;
}

.availability {
    margin-left: 8px;
}

.available {
    color: white;
}

.not-available {
    color: red;
}