#title {
  text-align: center;
  color: white;
}

.Login-form {

  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: white;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 10px; /* Zaokrąglenie brzegów formularza */
  border: 2px solid #ccc;
}
