.App {
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  background-image: url("/src/photos/1339726.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
